*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section{
    background-image: url("assects/image.png");
    background: cover;
    width: 100%;
    height: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.titulo{
    background-color: red;
    width: 384px;
    height: 179px;
    margin: 247px 768px 120px 768px;
}
.caixa{
    background-color: blue;
    width: 1008px;
    height: 290px;
    margin: 0px 456px 243px 456px;
    display: flex;
    align-items: center;
}
.capa{
    background-color: aqua;
    width: 200px;
    height: 290px;
}
.texto{
    background-color: red;
    width: 760px;
    height: 285px;
    margin-left: 48px;
}